extend layout 
block content
  div#scoreboard
    h2#board &nbsp&nbsp&nbsp&nbspScoreBoard&nbsp&nbsp&nbsp
    ul#scorelist
      script.
        console.log(!{Scorelist});
      -var score=JSON.parse(Scorelist);
        each val in score
          li=val.username+":"+val.score
  div#gindex
    p#gtitle Ball Blaster
    button#gbutt(onclick='start()') Play
  div.container
    button#gshare(data-toggle='modal',data-target='#sharescore',onclick='showmodal()').btn.btn-primary Share Your Score
    button#grestart(onclick='windows.location.href="/Game"') Restart
    div.modal(id='sharescore')
      div.modal-dialog.modal-dialog-centered
        div.modal-content#content
          div.modal-header
            h4.modal-title  Select Your Friends To Share Your Score
            
          div.modal-body
            -var list=Friendslist.split(',');
              each value,index in list
                if(index!=0)
                  label.cont=value
                    input(type='checkbox',name='friends',value=value)
                    span.checkmark
          div.modal-footer
            button.btn.btn-secondary(onclick='Senderlist()') Send
            button.btn.btn-secondary#close(data-dismiss='modal') close
  canvas#gcanvas
  script(src="/javascripts/Game.js")
  script.
    var socket=io.connect('http://localhost:3000');
    var username='!{Friendslist}'.split(',')[0];
    function showmodal(){
             $(document).ready(function(){
               $('#sharescore').modal();
             })
           }
    