doctype html
html
  head
    title Be Updated
    link(rel='stylesheet',href='/stylesheets/Layout.css')
    link(rel='stylesheet',href='/stylesheets/Bootstrap/css/bootstrap.min.css')
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js></script>
    script(src="/stylesheets/Bootstrap/js/bootstrap.min.js")
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='/javascripts/Toggle.js'></script>
    <script src='/javascripts/AjaxCall.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
  

  body
    configuration
      system.web
        httpRuntime(maxRequestLength='1048576')
    div#head
      h1#lh1 Be Updated
      div#searchbar
        input(type="text" id='search' name='search' placeholder='Search For Friends...' onkeyup='listing(this)')
        div#listcontent
      ul#lnav
        li(onclick='window.location.href="/Home"') Home
        li(onclick='window.location.href="/News"') News
        li(onclick='window.location.href="/Chat"') Chat
        li(onclick='window.location.href="/Game"') Game
        li(onclick='window.location.href="/Profile"') Profile
        li(onclick='window.location.href="/logout"') logout
      script.
        var listcontent=document.getElementById('listcontent');
        var list;
        function listing(e){
          console.log('on change');
          if(e.value!=''){
          var xmlhttp=new XMLHttpRequest();
          xmlhttp.onreadystatechange=function(){
            console.log(this.responseText);
            listcontent.innerHTML=this.responseText;
           }
           
          xmlhttp.open('GET','/FriendsList/'+e.value,true);
          xmlhttp.send();
          
          }else{
            listcontent.innerHTML="";
          }
        }
    div#container
      block content
